---
# tasks file for default-tooling

- name: "Select tasks for {{ ansible_distribution }} {{ ansible_distribution_major_version }}"
  include_tasks: "{{ distro_file }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  loop_control:
    loop_var: distro_file

- name: Setup Tilix in bashrc
  blockinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    block: |
      # Tilix
      if [ $TILIX_ID ] || [ $VTE_VERSION ]; then
              source /etc/profile.d/vte.sh
      fi
  tags:
    - bash
