[Desktop Entry]
Name=GitKraken
Comment=The legendary Git GUI client for Windows, Mac and Linux.
GenericName=GitKraken - The legendary Git GUI client
Exec={{ gitkraken_install_path }}/gitkraken
Terminal=false
StartupNotify=true
X-MultipleArgs=false
Type=Application
Categories=GNOME;GTK;Development;Documentation;
MimeType=text/plain;inode/directory;
Icon=gitkraken

